.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fixed-top {
    width: 100vw;
}

footer {
    min-height: 30vh;
}

#map {
    height: 75vh;
}

.metadata-map {
    height: 30vh;
}

ul.nobull {
    list-style-type: none;
}

.text-right {
    float: right;
}

.scrollable {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.metadata-info-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.metadata-info-col .metadata-button-row {
    margin-top: auto;
}