.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fixed-top {
    width: 100vw;
}

footer {
    min-height: 30vh;
}

#map {
    height: 75vh;
}

ul.nobull {
    list-style-type: none;
}