{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<section class="pt-6 pb-7" id="material">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <p>We list below educational material prepared for courses and schools organised by EUROMAMMALS, mainly on spatial data management in movement ecology.</p>
                <div class="row text-muted">
                    <div class="col-md">
                        <p>
                            <b><a href="https://github.com/feurbano/data_management_2021" target="_blank">Data Management in Movement Ecology 2021</a></b>
                        </p>
                        <p>
                            <b><a href="https://github.com/feurbano/data_management_2021" target="_blank">Dealing with Spatio-temporal Data in Movement and Population Ecology</a></b>, <em>June 17-22 2018<em> - <em>Trento, Italy</em>
                        </p>
                        <p>
                            <b>SUMMER COURSE: NEXT GENERATION DATA MANAGEMENT IN MOVEMENT ECOLOGY</b>, <em>July 1-10 2015</em> - <em>Trento, Italy</em>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-10 mx-auto pt-4">
                <p>Find also scripts and coding documentation on our <a href="https://github.com/EUROMAMMALS" target="_blank">GitHub repositories <img src="{% static 'img/logos/github-mark.png' %}" class="p-2" width="50px"></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}