{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load filters %}

{% block content %}
{% now "Y-m-d" as today %}
{% for key in PROJECTS_ORDER_LIST %}
    {% with vals=items|getattribute:key %}
    {% if vals|length > 0 %}
    <h3 class="pt-3 text-center">{{ key }}</h3>
    <div class="row">
    {% endif %}
    {% for item in vals %}
        <div class="col-sm-6">
            <div class="card m-2">
                <div class="card-heading">
                    <h4 class="card-title">
                        <a class="btn" data-bs-toggle="collapse" href="#collapseMammals{{item.id}}" role="button" aria-expanded="false" aria-controls="collapseMammals{{ item.id }}">
                            <span class="float-left"><b>{{ item.title }}</b> {% if item.site %}<small>({{ item.site }})</small>{% endif %}</span>
                            <span class="float-right"><i class="fas fa-plus fa-3" id="faicon{{item.id}}"></i></span>
                        </a>
                        {% if request.user.is_staff %}
                        &nbsp;&nbsp;
                        <span><a href="/mammalsadmin/events/event/{{ item.id }}" target="_blank"><i class="fa-solid fa-pen-to-square fa-3" id="editicon{{item.id}}"></i></a></span>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                        &nbsp;&nbsp;
                        <span><a href="/event/{{ item.id }}"><i class="fa-solid fa-right-to-bracket" id="gototevent{{item.id}}"></i></a></span>
                        {% endif %}
                    </h4>
                </div>
                <div id="collapseMammals{{ item.id }}" class="collapse" data-id="{{ item.id }}">
                    <div class="card-body" id="mammals{{ item.id }}">
                        {% if item.venue %}<b>{{ item.venue }}</b>{% endif %}
                        <p>
                        {% if item.start and item.end %}
                        From {{ item.start|date:'Y-m-d' }} to {{ item.end|date:'Y-m-d' }}
                        {% elif item.start and not item.end %}
                        {{ item.start|date:'Y-m-d' }}
                        {% endif %}
                        </p>
                        {% if item.registration_until %}
                        {% if today <= item.registration_until|date:"Y-m-d" %}
                        {% if item.registration_public or request.user.is_authenticated %}
                        <a href="{{ item.registration_link }}" target="_blank" class="btn btn-primary">{% trans "Register here" %}</a>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% if item.program_link %}
                        {% if item.program_public or request.user.is_authenticated %}
                        <a href="{{ item.program_link }}" target="_blank" class="btn btn-primary">{% trans "Program here" %}</a>
                        {% endif %}
                        {% endif %}
                        {% if item.descr %}
                        <p>{{ item.descr }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if vals|length > 0 %}
    </div>
    {% endif %}
    {% endwith %}
{% endfor %}
{% endblock %}