{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<h2 class="text-center text-dark">{{ item.title }}</h2>

{% if item.image_link %}
<p class="pt-2 pb-2"><img src="{{item.image_link}}" width="100%"/><p>
{% endif %}

{% if item.venue %}<h3 class="text-center">{{ item.venue }}</h3>{% endif %}
{% if item.start and item.end %}
<h4 class="text-center">From <b>{{ item.start|date:'Y-m-d' }}</b> to <b>{{ item.end|date:'Y-m-d' }}</b></h4>
{% elif item.start and not item.end %}
<h4 class="text-center"><b>{{ item.start|date:'Y-m-d' }}</b></h4>
{% endif %}

<section class="p-5 section-angle top-right bottom-right" id="sponsor">
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto text-center">
                {% if item.descr %}
                <p>{{ item.descr }}</p>
                {% endif %}
            </div>
        </div>
        {% if item.url %}
        <a href="{{ item.url }}" target="_blank" class="btn btn-primary mt-2 mb-2">{% trans "Go to main web site" %}</a>
        {% endif %}
        <div class="row">
            <div class="col-12 mx-auto text-center">
                {% if item.typ %}
                {{ item.get_typ_display }}
                {% else %}
                This event
                {% endif %}
                {% if item.project %}
                is related to {{ item.project }}
                {% endif %}
            </div>
        </div>
    </div>
</section>

<hr>
{% now "Y-m-d" as today %}
{% if item.registration_until %}
{% if item.registration_until|date:"Y-m-d" < today %}
<section class="p-5 section-angle top-right bottom-right" id="section-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto text-center">
                {% trans "If you want to participate" %}
                <br>
                <a href="{{ item.registration_link }}" target="_blank" class="btn btn-primary mt-3">{% trans "Register here" %}</a>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endif %}

<section class="p-5 section-angle top-right bottom-right" id="section-contact">
    <div class="container">
        <div class="row">
            {% if item.main_slide_link %}
            <div class="col-md-4 mx-auto text-center">
            {% trans "If you look for the main slides" %}
            <br>
            <a href="{{ item.main_slide_link }}" target="_blank" class="btn btn-primary mt-3">{% trans "Download here" %}</a>
            </div>
            {% endif %}
            {% if item.folder_slides_link %}
            <div class="col-md-4 mx-auto text-center">
            {% trans "If you look for all the other slides " %}
            <br>
            <a href="{{ item.folder_slides_link }}" target="_blank" class="btn btn-primary mt-3">{% trans "Download here" %}</a>
            </div>
            {% endif %}
            {% if item.report_link %}
            <div class="col-md-4 mx-auto text-center">
            {% trans "If you look for the report " %}
            <br>
            <a href="{{ item.report_link }}" target="_blank" class="btn btn-primary mt-3">{% trans "Download here" %}</a>
            </div>
            {% endif %}
            {% if item.program_link %}
            <div class="col-md-4 mx-auto text-center">
            {% trans "If you look for the main program " %}
            <br>
            <a href="{{ item.program_link }}" target="_blank" class="btn btn-primary mt-3">{% trans "Download here" %}</a>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}