{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load filters %}

{% block title %}{% blocktranslate %}EUROMAMMALS home page{% endblocktranslate %}{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.3.0/ol.css">
{% endblock %}
{% block content %}
<!-- sub-project section -->
<section class="pt-6 pb-7" id="projects">
    <div class="container">
        <h2>EUROMAMMALS: collaborative science for spatial animal ecology</h2>
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <div class="row text-muted">
                    <div class="col-md box p-2">
                        <p>
                            The <b>EUROMAMMALS</b> bottom-up initiative has pioneered collaborative science in spatial animal ecology since 2007.
                            It involves dozens of institutions from Europe and beyond, organised in multiple networks, to address scientific,
                            management and conservation questions regarding terrestrial mammal species in Europe, with a focus on spatial ecology.
                            The main goal is to create a scientific network to investigate biological and ecological questions that can be addressed only by analyzing data across populations
                            and with the support of the field knowledge gained by researchers working with animals in different conditions.
                            The databases and related data management infrastructure ensure the collection, quality control, standardization and sharing of data and transparent information
                            necessary to actualize the collaboration between scientists and produce science.
                            The Terms of Use underpinning <b>EUROMAMMALS</b> has been purposefully and specifically based on the collaborative nature of the initiative, allowing the partners to join the network,
                            while maintaining the responsibility for their data and for actively engaging into the scientific projects.
                            These characteristics hugely foster the preparation of collaborative scientific publications, not only providing a larger and more articulated dataset,
                            but also promoting scientific debates and discussions flowing into novel conceptual frameworks.
                        </p>
                        <p>
                            <b>EUROMAMMALS</b> is supporting itself with a <em>scientific crowd-funding</em> system, with institutions contributing to the initiative when and for how much much they can, yet the continuous and relevant support of the EUROMAMMALS sponsor <a href="https://www.vectronic-aerospace.com/" target="_blank">Vectronic Aerospace GmbH</a> has been and is instrumental to the long-term sustainability of the initiative.
                        </p>
                        <p>
                            Last but not least, EUROMAMMALS supports and strives to fulfill FAIR (Findable, Accessible, Interoperable, and Reusable;
                            <a href="https://www.nature.com/articles/sdata201618" target="_blank">Wilkinson et al., 2016</a>) and TRUST
                            (Transparency, Responsibility, User focus, Sustainability and Technology; <a href="https://www.nature.com/articles/s41597-020-0486-7" target="_blank">Lin et al., 2020</a>)
                            principles for scientific data and metadata digital repository trustworthiness, and collaborates with International initiative promoting their applicability to animal ecology data sources,
                            such as the <a href="https://www.bio-logging.net/" target="_blank">International Bio-Logging Society</a>.
                        </p>
                        <p>See also <a href="https://doi.org/10.3389/fevo.2021.727023" target="_blank">Urbano & Cagnacci (2021)</a> for more information.</p>

                    </div>
                </div>
            </div>
        </div>
        <h3>A BIT OF HISTORY</h3>
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <div class="row text-muted">
                    <div class="col-md box p-2">
                        <p>
                            The EURODEER project has been the first EUROMAMMALS network. It stemmed from seminal discussions between a group of researchers from
                            Fondazione Edmund Mach and the University of Lyon at the European Roe deer meeting in 2007, regarding the best practices of GPS data management,
                            while envisioning the advantages of data sharing on a common and efficient platform. The experience gained at Edmund Mach Foundation through the project ISAMUD
                            provided the technical basis for the development of a new software platform to meet these requirements. Several other research groups soon indicated interest
                            in the opportunity of a common European roe deer data repository. Since then, the Eurodeer network first, and many other networks of institutions then,
                            were created and expanded based on the same principle: sharing data and knowledge to improve research and management of European mammal species, while working openly,
                            collaboratively, and with an horizontal, informal and friendly interaction between partners.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <div class="row feature-boxes">
                    <div class="col-md-6 box text-center p-4">
                        <img width=90% src="{% static 'img/roedeer2.webp' %}" class="p-2">
                        <img src="{% static 'img/logos/eurodeer_logo.png' %}" class="p-2" width="95%">
                        <p class="text-muted">
                            The European roe deer (<em>Capreolus capreolus</em>) is a widespread species in Europe.
                            The EURODEER project started in 2008 and has set the stage for all others EUROMAMMALS projects.
                            The collaborative work gave origin to a wide scientific production and more questions are being addressed!
                        </p>
                        <a href="/eurodeer" class="btn">{% trans "More info..." %}</a>
                    </div>
                    <div class="col-md-6 text-center p-4">
                        <img width=90% src="{% static 'img/reddeer.webp' %}" class="p-2">
                        <img src="{% static 'img/logos/eureddeer_logo.png' %}" class="p-2" width="95%">
                        <p class="text-muted">
                            The red deer (<em>Cervus elaphus</em>) is a large, iconic deer species, common in Europe.
                            EUREDDEER shares the network with the EURODEER project, but it relies on a species-specific shared database.
                        </p>
                        <a href="/eureddeer" class="btn">{% trans "More info..." %}</a>
                    </div>
                    <div class="col-md-6 text-center p-4">
                        <img width=90% src="{% static 'img/ibex.webp' %}" class="p-2">
                        <img src="{% static 'img/logos/euroibex_logo.png' %}" class="p-2">
                        <p class="text-muted">
                            EUROIBEX investigates the movement, spatial and population ecology of the most iconic ungulate species of the Alpine range, the Alpine ibex (<em>Capra ibex</em>),
                            that recovered after having been on the brink of extinction, also thanks to several reintroduction projects and today might be threatened by climate change.
                        </p>
                        <a href="/euroibex" class="btn">{% trans "More info..." %}</a>
                    </div>
                    <div class="col-md-6 text-center p-4">
                        <img width=90% src="{% static 'img/wildboar.webp' %}" class="p-2">
                        <img src="{% static 'img/logos/euroboar_logo.png' %}" class="p-2" width="95%">
                        <p class="text-muted">
                            The wild boar (<em>Sus scrofa</em>), is a suid native to much of Eurasia and one of the widest-ranging mammals.
                            The EUROBOAR project started in 2015 and the network has been expanding rapidly to address important scientific and management questions.
                        </p>
                        <a href="/euroboar" class="btn">{% trans "More info..." %}</a>
                    </div>
                    <div class="col-md-6 text-center p-4">
                        <img width=90% src="{% static 'img/lynx1.webp' %}" class="p-2">
                        <img src="{% static 'img/logos/eurolynx_logo.png' %}" class="p-2" width="95%">
                        <p class="text-muted">
                            The Eurasian lynx (<em>Lynx lynx</em>) is a medium-sized wild cat occurring from Northern, Central and Eastern Europe to Central Asia and Siberia, the Tibetan Plateau and the Himalayas.
                            The EUROLYNX project started in 2018 and has rapidly built a large and dedicated community to address urgent scientific and conservation questions regarding this iconic species.
                        </p>
                        <a href="/eurolynx" class="btn">{% trans "More info..." %}</a>
                    </div>
                    <div class="col-md-6 text-center p-4">
                        <img width=90% src="{% static 'img/wildcat.webp' %}" class="p-2">
                        <img src="{% static 'img/logos/eurowildcat_logo.png' %}" class="p-2" width="95%">
                        <p class="text-muted">
                            The European wildcat (</em>Felis silvestris</em>) is a small wild cat native to Europe and the Caucasus.
                            The EUROWILDCAT project started in 2018 and has been steadily growing into a very wide an virbrant community with expertise and knolwedge on this secretive species of high conservation concern.
                        </p>
                        <a href="/eurowildcat" class="btn">{% trans "More info..." %}</a>
                    </div>
                    <div class="col-md-6 text-center p-4">
                        <img width=90% src="{% static 'img/jackal.webp' %}" class="p-2">
                        <img src="{% static 'img/logos/eurojackal_logo.png' %}" class="p-2">
                        <p class="text-muted">
                            EUROJACKAL shares data and knowledge on golden jackal (<em>Canis aureus</em>), an opportunistic canid species from South-East Europe
                            and the Middle-East that naturally expanded its distribution range in historical times to most continental Europe.
                        </p>
                        <a href="/eurojackal/" class="btn">{% trans "More info..." %}</a>
                    </div>
                    <div class="col-md-6 text-center p-4">
                        <img width=90% src="{% static 'img/raccoon.webp' %}" class="p-2">
                        <img src="{% static 'img/logos/euroraccoon_logo.png' %}" class="p-2">
                        <p class="text-muted">
                            EURORACCOON works collaboratively on spatial data of raccoons (<em>Procyon lotor</em>), a North-American species that was introduced in the 20th Century,
                            mainly due to accidental releases from the fur industry, and is now rapidly expanding.
                        </p>
                        <a href="/euroraccoon/" class="btn">{% trans "More info..." %}</a>
                    </div>
                    <div class="col-md-6 text-center p-4">
                        <img width=90% src="{% static 'img/smallanimal.webp' %}" class="p-2">
                        <img src="{% static 'img/logos/eurosmallmammals_logo.png' %}" class="p-2" width="95%">
                        <p class="text-muted">
                            EUROSMALLMAMMALS includes data from an heterogeneous group of mammal species grouped according to their size (body mass < 5 kg).
                            The database includes individual spatial data mostly based on Capture Mark Recapture studies, as bio-logging units are rarely deployed on smaller species.
                        </p>
                        <a href="/eurosmallmammals" class="btn">{% trans "More info..." %}</a>
                    </div>

                    <div class="col-md-6 text-center p-4">
                        <img width=90% src="{% static 'img/afrimove1.webp' %}" class="p-2">
                        <h4>AFRIMOVE</h4>
                        <p class="text-muted">
                            AFRIMOVE is an independent project federated with EUROMAMMALS. The network is focussed on all mammal species' spatial ecology from Africa Since 2018,
                            AFRIMOVE shares data and knowledge, adopting the EUROMAMMALS bottom-up working mode.
                        </p>
                        <a href="/afrimove" class="btn">{% trans "More info..." %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--maps section-->
<section class="p-5 section-angle top-right bottom-right" id="mapsection">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto text-center">
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>

<!--eurocam section-->
<section class="p-5 section-angle top-right bottom-right" id="eurocam">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h3>EUROCaM</h3>
                <p class="lead text-muted">
                    EUROMAMMALS aims at addressing spatial ecology questions regarding European mammals.
                    In the first decade of EUROMAMMALS, the methodological approach to address these questions has been mainly Lagrangian, i.e. stemming from individual-based analysis of tracking data, and related ancillary information.
                    The surge of remote sensing of animals, and camera trapping in particular, have revamped the Eulerian approach in mammal spatial ecology.
                    EUROMAMMALS has responded to these new requirements of ecological analysis by developing an across-network platform for camera trapping observations.
                    EuroCaM does not aim to duplicate existing platforms for camera trapping data, rather to integrate a new type of information to address EUROMAMMALS scientific questions.
                    EuroCaM and EUROMAMMALS supports and contributes to the existing initiatives for the development of camera trapping data standards and interoperability of data repositories.
                </p>
            </div>
        </div>
    </div>
</section>

<!--chart section-->
<section class="p-5 section-angle top-right bottom-right" id="chartsection">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <div id="chart"></div>
            </div>
        </div>
    </div>
</section>

<!--sponsor section-->
<section class="p-5 section-angle top-right bottom-right" id="sponsor">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h3>Our sponsor</h3>
                <p class="lead text-muted">
                    Since 2012, Vectronic Aerospace GmbH is the official sponsor of EURODEER project.
                    In 2018, it has started to support the entire EUROMAMMALS initiative, showing to strongly believe in collaborative science and in the scientific potentiality of animal-borne information, such that provided by their products.
                </p>
                <a href="https://www.vectronic-aerospace.com/" target="_blank"><img src="{% static 'img/vectronic.webp' %}"></a>
            </div>
        </div>
    </div>
</section>

<!--contacts section-->
<hr>
<section class="p-5 section-angle top-right bottom-right" id="contacts_button">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto text-center">
                <a href="/contact/" class="btn btn-primary"><h2>Contact us</h2></a>
                <br>
                or join our <a href="https://github.com/EUROMAMMALS" target="_blank">GitHub repositories <img src="{% static 'img/github-mark.png' %}" class="p-2" width="50px"></a>
            </div>
        </div>
    </div>
</section>

{% if events|length > 0 %}
<!--events section-->
<section class="p-5 section-angle top-right bottom-right" id="contacts_button">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2>Next events</h2>
                <p class="text-muted lead">Upcoming events organised or joined by EUROMAMMALS networks</p>
            </div>
        </div>
        <div class="row">
            {% for event in events %}
            <div class="col-md-12 mx-auto text-center pt-3">
                {{ event }}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

<!--pubs section-->
{% if pubs|length > 0 %}
<section class="p-5 section-angle top-right bottom-right" id="contacts_button">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2>Latest publications</h2>
                <p class="text-muted lead">Our most recent papers. For the full list <a href="/pubs/">click here</a></p>
            </div>
        </div>
        <div class="row">
            {% for pub in pubs %}
            <div class="col-md-6 mx-auto text-center p-2">
                <small>{{ pub.project.all|join:'_' }}_{{ pub.euro_id }}:</small> <em>{{ pub.authors }}</em> <b>{{ pub.title }}</b>; {{ pub.journal }}, {{ pub.year }}<br><a href="{{ pub.doi }}" target="_blank">{{ pub.doi }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

<!--faq section-->
<section class="p-5" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2>Frequently asked questions (FAQ)</h2>
                <p class="text-muted lead">For any other questions, please <a href="/contact/">contact us</a>!</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h6>Can I join EUROMAMMALS network??</h6>
                        <p class="text-muted">
                            EUROMAMMALS is an open project and anyone is welcome to join.
                            If you study mammal species and have collected movement or other kind of data to share with us, or are simply interested in the project, please get in contact.
                        </p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Can I use EUROMAMMALS data?</h6>
                        <p class="text-muted">
                            According to EUROMAMMALS terms of use, data can be accessed only by those who contribute with data of some kind, or to address a specific question (<em>pager</em>).
                            The use of data is always bound to preliminary agreement with data owners, on a project-by-project basis.
                        </p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>What data are stored in the EUROMAMMALS database?</h6>
                        <p class="text-muted">
                            The main focus of the database is tracking and bio-logging data (i.e. GPS, VHF, activity) of the mammal species studied by the networks,
                            but a wide range of other information on population, study areas, hunting regimes, capture, mortality, etc is available and standardized among different research groups.
                            Further, <a href="#eurocam">EUROCaM</a>, an across-network platform, includes camera trapping observations.
                             The database integrates many environmental dataset like smoothed DEM, MODIS NDVI, CORINE land cover, with the perspective to move towards on-the-fly algorithms to perform the spatio-temporal join between animal-borne and environmental data.
                        </p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Who does financially support EUROMAMMALS?</h6>
                        <p class="text-muted">
                            EUROMAMMALS  is generously sponsored by <a href="https://www.vectronic-aerospace.com/" target="_blank"><b>Vectronic Aerospace GmbH</b></a>.
                            On top of this, the initiative is supported by volunteer contributions of the participating institutions, a mechanism that we call `scientific crowd-funding`.
                            EUROMAMMALS is also seeking to participate into granting schemes and collaborations in this sense are very welcome.
                        </p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>If my Institute wants to join, do we have to pay?</h6>
                        <p class="text-muted">
                            No, you don't have to. Participation is free and the goal is to create bottom-up networks focussed on collaborative science.
                            That said, in addition to the scientific coordinators, a team of database developers and data curators work part time on the project to update the platform, run data quality check and support groups for specific analysis.
                            They are supported financially by the sponsor and the voluntary contributions from partners, so everyone is encouraged to contribute according to their financial possibilities.
                        </p>
                    </div>
                    {% comment %} <div class="col-md-6 mb-5">
                        <h6>When the new website will be ready?</h6>
                        <p class="text-muted">As soon as possible, we suppose in a couple of months.</p>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_script %}
    <script src="https://cdn.jsdelivr.net/npm/ol@v7.3.0/dist/ol.js"></script>
    <script>
        function getText(feature, resolution){
            if (resolution < 2500) {
                return stringDivider(feature.get("name"), 25, "\n");
            } else {
                return "";
            }
        }
        function research_function(feature, resolution){
            return new ol.style.Style({
                image: new ol.style.Icon({
                  anchor: [0.5, 1],
                  src: '/static/img/building-solid.svg',
                  scale: 0.5,
                  color: 'blue',
                }),
                text: new ol.style.Text({
                    text: getText(feature, resolution),
                    font: 'Calibri,sans-serif',
                    fill: new ol.style.Fill({
                      color: 'black',
                    }),
                    stroke: new ol.style.Stroke({
                      color: 'white',
                      width: 2,
                    }),
                    //offsetY: 10
                }),
            })
        }

        var group = new ol.layer.Vector({
            source: new ol.source.Vector({
                url: '/static/geojson/euromammals.geojson',
                format: new ol.format.GeoJSON()
            }),
            style: research_function,
        });

        var map = new ol.Map({
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                }),
                group
            ],
            target: 'map',
            view: new ol.View({
                center: ol.proj.transform([-20, 50], 'EPSG:4326', 'EPSG:3857'),
                zoom: 3
            })
        });

    </script>
{% endblock %}