{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
{% for key, vals in items.items %}
    {% if vals.pagers|length > 0 %}
    <h3 class="pt-3 text-center">{{ key }}</h3>
    {% if vals.url %}
    <p>You can see the full list also in this <a href="{{ vals.url }}" target="_blank">document</a></p>
    {% with items.euromammals as euromammals %}
    <p>For inter-project pager you can see the list <a href="{{ euromammals.url }}">here</a></p>
    {% endwith %}
    {% endif %}
    {% endif %}
    {% for item in vals.pagers %}
    <div class="card">
        <div class="card-heading">
            <h4 class="card-title">
                <a class="btn" data-bs-toggle="collapse" href="#collapseMammals{{item.id}}" role="button" aria-expanded="false" aria-controls="collapseMammals{{ item.id }}">
                    <span class="float-left"><b>{{ item.title }}</b></span>
                    <span class="float-right"><i class="fas fa-plus fa-3" id="faicon{{item.id}}"></i></span>
                </a>
                {% if request.user.is_staff %}
                <a href="/mammalsadmin/pagers/pager/{{ item.id }}" target="_blank" alt="{% translate "Modify pager" %}" title="{% translate "Modify pager" %}">
                    <i class="fa-solid fa-pen-to-square fa-3" id="editicon{{item.id}}"></i>
                </a>
                {% endif %}
            </h4>
        </div>
        <div id="collapseMammals{{ item.id }}" class="collapse" data-id="{{ item.id }}">
            <div class="card-body" id="mammals{{ item.id }}">
                {% if item.active != None %}
                Active: {{ item.active }}
                <br>
                {% endif %}
                <a href="{{item.link}}" target="_blank"><b>Go to the pager</b></a>
                {% if item.external_participant_link %}
                <br>
                <a href="{{item.external_participant_link}}" target="_blank"><b>Go to the participant link</b></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

{% endfor %}
{% endblock %}